# Dependances
node_modules/

# Build Android
android/.gradle/
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/build/
android/local.properties
*.apk
*.aab

# Cles de signature (NE JAMAIS COMMITTER)
*.keystore
*.jks
keystore.properties

# Divers
.DS_Store
*.log
