

  #parent_fileInput1{
    display:none ; 
  }
 
 .parent_fileInput2{
  background-color:rgba(0,0,0,0.8) ;
  z-index : 2 ; 
  width:100%;
  height : 100% ; 
  position:absolute ; 
  top: 0 ; 
 }


 .parent_fileInput4{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 23%, rgba(8,16,126,1) 37%, rgba(8,19,128,1) 42%, rgba(8,23,130,1) 49%, rgba(8,28,133,1) 58%, rgba(171,0,255,1) 94%);
  z-index : 4 ; 
  width:100%;
  height : 100% ; 
  position:absolute ; 
  top: 0 ; 
 }
 .parent_label_fileInput {
   
  text-align:center ; 
  width:50% ; 
  margin:auto;
margin-left:25%;


  z-index : 3; 
  position:absolute ; 
  top: 0 ; 
  
 }
 
 