
.option{
    color:#a8b3ba ;
    border:1px solid rgba(0,0,0,0.1) ; 
    width:280px; 
    margin:auto ; 
    text-align:center ;  
    margin-top:50px;  
    background-color:white ; 
} 
.option input {
    border : 1px solid rgba(0,0,0,0.1) ; 
    width:80% ; 
    padding:5px; 
  
    background-color:#dcdddf  ;
    text-align:center ; 

}
.bt_n1{
    background-color : #ad3117 ; 
    width:80% ; 
    margin:auto ; 
    color : white ; 
    padding:5px; 


}
.ligne_noire{
    height:2px; 
    width:80% ; 
    margin:auto ; 
    background-color:black ; 
    margin-top : 20px ; 
}
.option2:hover{
    cursor:pointer ; 
}
#option{
    background-image : url("../../sport/track-and-field-5981702_1920.jpg") ; 
    padding-top:100px; 
    padding-bottom:100px; 

}

#option2{
    background-image : url("../../sport/action-1867014_1920.jpg") ; 
    padding-top:100px; 
    padding-bottom:100px; 

}

#option3{
    background-image : url("../../sport/women-801940_1920.jpg") ; 
    padding-top:400px; 
    padding-bottom:400px; 

}