
.recherche_1_1{
    text-align : center ; 
    font-size:4.1em;

}
.recherche_1_2{
    width:80%;
    margin:auto ; 
}
.recherche_1_2 input 
{
    background-color:#dcdddf ; 
    border:1px solid rgba(0,0,0,0) ; 

}

.recherche_1_2 input{
    width:100%;
    margin-top:80px; 
    padding:15px; 
    
}
.recherche_name_1,.recherche_name_2, .recherche_name_3{
  
    text-align:center ; 
    padding-top:250px;
    font-size:4em;
    color:white ; 
    text-shadow : 1px  1px  1px  1px black ; 
    background-size: 100%;
    background-position : 0 -300px;
    width : 80%; 
    margin:auto ; 
}

.recherche_name_1{
    background-image : url("sport/athlete-1840437_1920.jpg") ;

}
.recherche_name_2{
    background-image : url("sport/women-655353_1920.jpg") ;
    background-position : 0 -100px; 

}
.recherche_1_2{
    padding:15px; 
 
}