<h1 class="h1_header">
    Athlete
    </h1>
    <div class="display_header">
            <h2 onclick="header_option(this)" class="cursor_pointer_2" title="Clubs">
            Clubs  
            </h2>
            <h2 onclick="header_option(this)" class="cursor_pointer_2" title="Athletes">
                Athletes  
            </h2>
            <h2 onclick="header_option(this)" class="cursor_pointer_2" title="Villes">
                Villes  
            </h2>
            <h2 onclick="header_option(this)" class="cursor_pointer_2" title="Login">
                Login 
            </h2>
    </div>    
    <div style="margin-top:150px"></div>
    <div id="optiones_total"></div>

<script src="view/header_option.js"></script>
<link rel="stylesheet" href="view/header.css">
    
    
 
    
  