<h1 class="h1_header">
    Athlete
    </h1>
    
    
    
    
    
    
    
    <div class="display_header">
            <h2 onclick="header_option(this)" class="cursor_pointer_2" title="Clubs">
            Clubs  
            </h2>
            <h2 onclick="header_option(this)" class="cursor_pointer_2" title="Athletes">
                Athletes  
            </h2>
            <h2 onclick="header_option(this)" class="cursor_pointer_2" title="Villes">
                Villes  
            </h2>
            <h2 onclick="header_option(this)" class="cursor_pointer_2" title="Login">
                Login 
            </h2>
    </div>
    
    <div style="margin-top:150px"></div>
    <div id="optiones_total">
    
    </div>
    
    <style>
        body{
            margin:0 ; 
            padding : 0 ; 
        }
        .h1_header{
            text-align:center ; 
        }
        .display_header{
            display:flex ; 
            justify-content:space-around ; 
            background-color:#ad3117 ; 
            color:white ; 
        }
        .cursor_pointer_2:hover{
            cursor:pointer ;
            
            width:100% ; 
        }
        .cursor_pointer_2{
     
            width:100% ; 
            text-align:center ; 
            padding:5px; 
        }
    
        .cursor_pointer:hover{
    cursor:pointer ;  
    }
        
    </style>
    
    
    
 
    
  